
.style-guide-bonus .exercice-container {
  display: block;
  // text-align: center;
  // min-height: 20em;
  // line-height: 20em; 
}



/*///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
//  Display : Exercice 1
///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/
.style-guide-bonus .exercice-container.exo-display-1 {
  text-align: left;
  min-height: 5em;
  line-height: 1em;
}


.style-guide-bonus .exercice-container.exo-display-1 .red-square {
  display: block;
  width: 2em;
  height: 2em;
  background-color: #FF0000;
}

.style-guide-bonus .exercice-container.exo-display-1 .blue-square {
    display: block;
    width: 2em;
    height: 2em;
    background-color: #0000FF;
  }
}





/*///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
//  Display : Exercice 2
///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/
.style-guide-bonus .exercice-container.exo-display-2 {
  text-align: left;
  min-height: 5em;
  line-height: 1em;
}

.style-guide-bonus .exercice-container.exo-display-2 .my-text-container {
  border: 1px solid #000000;
  width: 30em;
}


.style-guide-bonus .exercice-container.exo-display-2 .my-text-container .my-text {
    display: block;
    width: 10em;
    height: 10em;
    overflow: hidden;
}




/*///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
//  Display : Exercice 3
///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/
.style-guide-bonus .exo-display-3 {
  text-align: left;
  min-height: 5em;
  line-height: 1em;
}

.style-guide-bonus .exo-display-3 .red-text-container {
  display: inline;
  width: 30em;
  height: 2em;
  line-height: 2em;
  border: 1px solid #FF0000;
}

.style-guide-bonus .exo-display-3 .blue-text-container {
  display: inline;
  width: 30em;
  height: 2em;
  line-height: 2em;
  border: 1px solid #0000FF;
}



/*///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
//  Center : Exercice 1
///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/
.style-guide-bonus .exercice-center-container {
  display: block;
  text-align: center;
  min-height: 20em;
  line-height: 20em; 
}

.style-guide-bonus .exo-center-1.outer-square {
  vertical-align: top;
  text-align: left;
  margin-right: 2em;
  display: inline-block;
  background-color: #0000FF;
  height: 5em;
  line-height: 5em;
  width: 10em;
}


.style-guide-bonus .exo-center-1 .inner-square {
  vertical-align: middle;
  background-color: #FF0000;
  height: 5em;
  width: 5em; 
}

/*///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
//  Center : Exercice 2
///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/
.style-guide-bonus .exo-center-2.outer-square {
  vertical-align: top;
  text-align: left;
  margin-right: 2em;
  display: inline-block;
  background-color: #0000FF;
  height: 10em;
  line-height: 10em;
  width: 5em;
}


.style-guide-bonus .exo-center-2 .inner-square {
  vertical-align: middle;
  background-color: #FF0000;
  height: 5em;
  width: 5em; 
}

/*///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
//  Center : Exercice 3
///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/
.style-guide-bonus .exo-center-3.outer-square {
  vertical-align: top;
  margin-right: 2em;
  display: inline-block;
  text-align: left;
  background-color: #0000FF;
  height: 10em;
  line-height: 10em;
  width: 10em;
}


.style-guide-bonus .exo-center-3 .inner-square {
  vertical-align: middle;
  background-color: #FF0000;
  height: 5em;
  width: 5em; 
}

/*///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
//  Center : Exercice 4
///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/

.style-guide-bonus .exo-center-4.outer-square {
  vertical-align: top;
  margin-right: 2em;
  display: inline-block;
  text-align: left;
  background-color: #0000FF;
}


.style-guide-bonus .exo-center-4 .inner-square {
  vertical-align: middle;
  background-color: #FF0000;
  height: 5em;
  width: 5em; 
}
@-webkit-keyframes exo-center-scale {
  0% {height: 10em; line-height: 10em; width: 10em;}
  50% {height: 15em; line-height: 15em; width: 15em;}
  100% {height: 10em; line-height: 10em; width: 10em;}
}
.exo-center-4-container {
  display: inline-block;
  height: 20em;
  width: 20em;
  .exo-center-4.outer-square {
    height: 10em;
    line-height: 10em;
    width: 10em;
    animation-name: exo-center-scale;
    animation-duration: 5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
  }
}

.exo-center-4-container .exo-center-4.outer-square {
  height: 10em;
  line-height: 10em;
  width: 10em;
  animation-name: exo-center-scale;
  animation-duration: 5s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

/*///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
//  Position
///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/

.exo-position.outer-square {
  vertical-align: middle;
  margin-right: 2em;
  display: inline-block;
  text-align: left;
  position: relative;
  background-color: #0000FF;
  height: 15em;
  width: 15em
}



.exo-position .target-square {
    position: absolute;
    top: 8em;
    right: 6em;
    border-style: dashed;
    border-color: #FF0000;
    height: 5em;
    width: 5em;
  }
  
.exo-position .inner-circle {
  border-radius: 3em;
  background-color: #00FF00;
  height: 5em;
  width: 5em;
  box-shadow: -2px 2px 10px 0px #000000;
}


/*///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
//  Z-index
///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/  

.exo-3d.outer-square {
  vertical-align: middle;
  margin-right: 2em;
  display: inline-block;
  text-align: left;
  position: relative;
  background-color: #0000FF;
  height: 15em;
  width: 15em;
}

.exo-3d .inner-circle {
    position: absolute;
    border-radius: 3em;
    background-color: #00FF00;
    height: 5em;
    width: 5em;
    box-shadow: -2px 2px 10px 0px #000000;
}


.exo-3d .masking-square {
  position: absolute;
  top: 1em;
  left: 3em;
  background-color: #FF0000;
  height: 5em;
  width: 5em;
  box-shadow: 0px 0px 10px 0px #000000 inset;

}


/*///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
//  Box: exercice 1
///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/

@-webkit-keyframes exo-box-scale {
  0% {height: 5em; width: 5em;}
  50% {height: 20em; width: 20em;}
  100% {height: 5em; width: 5em;}
}

.exo-box-1 {
  vertical-align: middle;
  margin-right: 2em;
  display: inline-block;
  text-align: left;
  height: 25em;
}

.exo-box-1 .outer-square {
  position: static;
  background-color: #0000FF;
  min-height: 15em;
  min-width: 15em;
  padding: 0px;
}

.exo-box-1 .inner-square {
  position: static;
  background-color: #FF0000;
  height: 5em;
  width: 5em;
  animation-name: exo-box-scale;
  animation-duration: 5s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  box-shadow: -2px 2px 10px 0px #000000;
}


/*///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
//  Box: exercice 2
///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/
@-webkit-keyframes exo-box-display-1 {
  0% {width: 5em;}
  50% {width: 10em;}
  100% {width: 5em;}
}
@-webkit-keyframes exo-box-display-2 {
  0% {width: 5em;}
  50% {width: 7em;}
  100% {width: 5em;}
}
@-webkit-keyframes exo-box-display-3 {
  0% {width: 5em;}
  25% {width: 10em;}
  50% {width: 7em;}
  75% {width: 8em;}
  100% {width: 5em;}
}

.exo-box-2 {
  vertical-align: middle;
  display: inline-block;
  text-align: left;
  min-height: 20em;
  max-width: 15em;
  letter-spacing: -5px;
  line-height: 0;
}


.exo-box-2 .square-1 {
  position: static;
  background-color: #0000FF;
  min-height: 5em;
  min-width: 5em;
  padding: 0px;
  display: inline-block;
  animation-name: exo-box-display-1;
  animation-duration: 5s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  margin: 0px;
}
.exo-box-2 .square-2 {
  position: static;
  background-color: #FF0000;
  height: 5em;
  width: 5em;
  display: inline-block;
  animation-name: exo-box-display-2;
  animation-duration: 2s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  margin: 0px;
}

.exo-box-2 .square-3 {
  position: static;
  background-color: #00FF00;
  height: 5em;
  width: 5em;
  display: inline-block;
  animation-name: exo-box-display-3;
  animation-duration: 4s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  margin: 0px;
}



/*///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
//  Unit 1
///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/

@-webkit-keyframes exo-unit-1 {
  0% {width: 15em;}
  50% {width: 30em;}
  100% {width: 15em;}
}

.exo-unit-1 {
  vertical-align: middle;
  margin-right: 2em;
  display: inline-block;
  text-align: left;
  height: 15em;
}

.exo-unit-1 .outer-square {
  position: static;
  background-color: #0000FF;
  min-height: 5em;
  min-width: 15em;
  padding: 0px;
  animation-name: exo-unit-1;
  animation-duration: 5s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  box-shadow: -2px 2px 10px 0px #000000;
}

.exo-unit-1 .outer-square .inner-square-1 {
  position: static;
  background-color: #FF0000;
  height: 5em;
}

.exo-unit-1 .outer-square .inner-square-2 {
  position: static;
  background-color: #00FF00;
  height: 5em;
}


/*///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
//  Unit 2
///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/

@-webkit-keyframes exo-unit-2 {
  0% {font-size: 14px;}
  50% {font-size: 30px;}
  100% {font-size: 14px;}
}

.exo-unit-2 {
  vertical-align: middle;
  margin-right: 2em;
  display: inline-block;
  text-align: left;
  height: 15em;
  animation-name:exo-unit-2;
  animation-duration: 5s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;

}

.exo-unit-2 .red-square {
  position: static;
  background-color: #FF0000;
  height: 50px;
  width: 50px;
}

